body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 1;
}

.logo h1 {
  margin: 0;
  color: gold;
  font-size: 36px; /* Adjust font size as needed */
  font-family: 'Arial', sans-serif; /* Adjust font family as needed */
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

section h2 {
  margin-top: 0;
  color: black; /* Change font color to black */
}

/* Add a CSS rule for responsive layout */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }
}

/* Add a CSS rule for hovering effect */
nav ul li a {
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: gold;
}

/* Add a CSS rule for full background image */
section#home {
  position: relative;
  background-image: url('path/to/bellonex1.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black; /* Change font color to black */
}


section#home h1 {
  color: black; /* Change font color to black */
  font-size: 48px; /* Adjust font size as needed */
  font-family: 'Arial', sans-serif; /* Adjust font family as needed */
  margin-top: 0;
}

/* Cart icon */
.cart-icon {
  position: relative;
}

.cart-icon i {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.cart-items-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 50%;
}

/* Add a CSS rule for hovering effect on cart icon */
.cart-icon i:hover {
  color: gold;
}

/* Add a CSS rule for hovering effect on buy button */
#buy-button:hover {
  background-color: gold;
  color: #333;
}


